@model TokoWebApp.Models.ProductModel
@{
    ViewData["Title"] = "Add Product Type";
}
<h1>Add New Product</h1>
<form method="post" asp-controller="Product" asp-action="Create" class="mt-5">
    @* <input type="hidden" asp-for="CategoryId" /> *@
    <div class="mb-3">
        <label class="form-label"> Product Name</label>
        <input type="text" class="form-control" asp-for="ProductName" />
    </div>
    <div class="mb-3">
        <label class="form-label"> Stock </label>
        <input type="number" min="0" class="form-control" asp-for="Stock" />
    </div>
    <div class="mb-3">
        <label class="form-label"> Price</label>
        <input type="number" min="1000" class="form-control" asp-for="Price" />
    </div>
    <div class="mb-3">
        <label class="form-label"> Product Type </label>
        <select class="form-control" asp-for="CatId">
            @foreach (var item in ViewBag.Categories)
            {
                <option value="@item.CategoryId">@item.CategoryName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
